.project-image {
  object-fit: cover;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}
.summary{
text-align: center;
}
.column {
  margin: 0 auto;
}
.hero {
  background-image: url("../img/avatar.jpg");
  /* background-repeat: no-repeat; */
}
.hero ::before {
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.hero-body {
  padding-top: 15rem;
}
.bold-title {
  color: white;
}
.subtitle {
  color: white;
}
.fa {
  color: white;
}

.nav-item a,
a.nav-item {
  color: white;
}

.nav-a {
  color: #00b8d4;
}

.top-logo {
  width: 20%;
  height: auto;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .nav-item {
    padding: 5px;
  }
  .is-2 {
    font-size: 2rem;
  }
}

.blog-share a {
  color: black;
}
#projects_nav{width:100%;margin:0 auto;}
#projects_nav ul{width:100%;margin:0 auto;list-style:none;}
#projects_nav ul li {position: relative;}
#projects_nav ul li a {text-align:center;display: block;text-decoration: none;-moz-transition: .2s;-webkit-transition: .2s;-o-transition: .2s;-ms-transition: .2s;transition: .2s;}
#projects_nav ul li a:hover {background: #fff;color: #00b8d4;}
#projects_nav ul li > ul{position: relative;display:none;padding:0;}
#projects_nav ul li:hover > ul{display: block;position: absolute;background: #fff;color: #00b8d4;border: 1px solid #00b8d4;}
#projects_nav ul li ul li {position: relative;width: 100%;margin:0 auto;float:none;z-index:1;}
#projects_nav ul li ul li a {display: block;padding:10px 0px;font-size:13px;background: #fff;}
#projects_nav ul li ul li a:hover {color: #00b8d4;}
