.project-image {
  object-fit: cover;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}
.summary{
text-align: center;
}
.column {
  margin: 0 auto;
}
.hero {
  background-image: url("../img/avatar.jpg");
  /* background-repeat: no-repeat; */
}
.hero ::before {
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.hero-body {
  padding-top: 15rem;
}
.bold-title {
  color: white;
}
.subtitle {
  color: white;
}
.fa {
  color: white;
}

.nav-item a,
a.nav-item {
  color: white;
}

.nav-a {
  color: #00b8d4;
}

.top-logo {
  width: 20%;
  height: auto;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .nav-item {
    padding: 5px;
  }
  .is-2 {
    font-size: 2rem;
  }
}

.blog-share a {
  color: black;
}
