.project-image {
  object-fit: cover;
}
.column {
  margin: 0 auto;
}
.hero {
  background-image: url("../img/avatar.jpg");
  /* background-repeat: no-repeat; */
}
.hero-body {
  padding-top: 15rem;
}
.bold-title {
  color: white;
}
.subtitle {
  color: white;
}
.fa {
  color: white;
}

.nav-item a, a.nav-item {
  color: white;
}

.top-logo {
  width: 20%;
  height: auto;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .nav-item {
  padding: 5px; 
  }
}
