<div class="container">
    <!-- Begin Projects container -->
    <h2 class="title is-4 has-text-centered">Projects</h2>
    <div class="section is-small ">
      <div class="floor-title">
        <h3 class="sub-title">
          <span class="floor-sub">1F</span>
          展示フロア
        </h3>
       </div>
        <div class="columns is-multiline">
            <div class="column is-one-third" id="picture">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad border-color" >
                  <a  href="categories/picture">
                    <img src="../../img/top_photo.JPG" />
                    <p class="c-title">写真</p>
                  </a>
                </div>
            </div>
            <div class="column is-one-third" id="artculuture">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad border-color" >
                  <a href="categories/artculture">
                    <img src="../../img/photo.jpg"  />
                    <p class="c-title">文芸</p>
                  </a>
                </div>
            </div>
            <div class="column is-one-third" id="installation">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad border-color" >
                  <a href="categories/installation">
                    <img src="../../img/top_installation.JPG" />
                    <p class="c-title">
                      インスタレーション
                    </p>
                  </a>
                </div>
            </div>
          </div>
      </div>

      <div class="section is-small ">
        <div class="floor-title">
          <h3 class="sub-title">
            <span class="floor-sub">B1F</span>
            上演・上映フロア
          </h3>
        </div>
          <div class="columns is-multiline">
            <div class="column is-one-third" id="dance">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad border-color" >
                  <a href="categories/dance">
                    <!-- <figure class="hover-parent"> -->
                      <img src="../../img/top_dance.JPG" />
                      <!-- <figcaption class="hover-mask"> -->
                        <p class="c-title">
                          ダンス
                        </p>
                    <!-- 　</figcaption> -->
                    <!-- </figure> -->
                  </a>
                </div>
            </div>
            <div class="column is-one-third" id="theater">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad border-color" >
                  <a href="categories/theater">
                    <img src="../../img/top_theater.JPG" />
                    <p class="c-title">演劇</p>
                  </a>
                </div>
            </div>
            <div class="column is-one-third" id="movie">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad border-color" >
                  <a href="categories/movie">
                    <img src="../../img/top_animation.JPG" />
                    <p class="c-title">映像</p>
                  </a>
                </div>
            </div>

          </div>
        </div>
  </div>
        <!-- End Projects container -->
