<div class="container" >
    <!-- Begin Projects container -->
    <div class="marker-img-red-bold">
      <h2 class="title is-4 has-text-centered" style="line-height: 16px;">Projects<br /><span style="font-size:12px;text-align: center;">出展者紹介</span></h2>
    </div>
    <div class="section is-small ">
      <div class="floor-title">
        <h3 class="sub-title">
          <span class="floor-sub">1F</span>
          展示フロア
        </h3>
       </div>
        <div class="columns is-multiline">
            <div class="column is-one-third" id="picture">
            <!-- Hey Vicky, show half column if number is even. -->
                <nav id="projects_nav" class="card-content has-text-centered top-pad border-color" >
                    <!-- <img src="../../img/top_photo.JPG" /> -->
                    <ul class="clearfix">
                      <li>
                        <a href="categories/picture">写真</a>
                        <ul>
                          <li><a href="projects/保坂-早紀">保坂 早紀</a></li>
                          <li><a href="projects/原田-祐枝">原田 祐枝</a></li>
                          <li><a href="projects/安西-亜子">安西 亜子</a></li>
                          <li><a href="projects/松本-誠舟">松本 誠舟</a></li>
                          <li><a href="projects/金井-素美">金井 素美</a></li>
                        </ul>
                      </li>
                    </ul>
                </nav>
            </div>
            <div class="column is-one-third" id="artculuture">
            <!-- Hey Vicky, show half column if number is even. -->
              <nav id="projects_nav" class="card-content has-text-centered top-pad border-color" >
                <ul class="clearfix" >
                  <li>
                    <!-- <img src="../../img/photo.jpg"  /> -->
                    <a href="categories/artculture">文芸</a>
                    <ul>
                      <li><a href="projects/大内-瑞月">大内瑞月</a></li>
                      <li><a href="projects/水嶋-結">水嶋結</a></li>
                      <li><a href="projects/田代あゆみ">田代あゆみ</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="column is-one-third" id="artculuture">
              <!-- Hey Vicky, show half column if number is even. -->
              <nav id="projects_nav" class="card-content has-text-centered top-pad border-color">
                <ul class="clearfix">
                  <li>
                    <!-- <img src="../../img/photo.jpg"  /> -->
                    <a href="categories/installation">インスタレーション</a>
                    <ul>
                      <li><a href="projects/中川-友香">中川友香</a></li>
                      <li><a href="projects/佐久間-共歩">佐久間未歩</a></li>
                      <li><a href="projects/原-枝里佳">原枝里佳</a></li>
                      <li><a href="projects/岩上-涼花">岩上涼花</a></li>
                      <li><a href="projects/石塚-真帆">石塚真帆</a></li>
                      <li><a href="projects/船木-錬">舩木錬</a></li>
                      <li><a href="projects/長濱-光玲">長濱光玲</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
      </div>

      <div class="section is-small ">
        <div class="floor-title">
          <h3 class="sub-title">
            <span class="floor-sub">B1F</span>
            上演・上映フロア
          </h3>
        </div>
          <div class="columns is-multiline">
            <div class="column is-one-third" id="dance">
              <nav id="projects_nav" class="card-content has-text-centered top-pad border-color">
                <ul class="clearfix">
                  <li>
                    <!-- <img src="../../img/photo.jpg"  /> -->
                    <a href="categories/dance">ダンス</a>
                    <ul>
                      <li><a href="projects/二階-美羽">伊藤百花 二階美羽 向井夏鈴</a></li>
                      <li><a href="projects/岩城-かのこ">岩城かのこ</a></li>
                      <li><a href="projects/杉本-葵">杉本葵</a></li>
                      <li><a href="projects/米田-琴音">米田琴音・滝上さら</a></li>
                      <li><a href="projects/豊田-ゆり佳">豊田ゆり佳</a></li>
                      <li><a href="projects/遠藤-七海">遠藤七海</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="column is-one-third" id="theater">
              <nav id="projects_nav" class="card-content has-text-centered top-pad border-color">
                <ul class="clearfix">
                  <li>
                    <!-- <img src="../../img/photo.jpg"  /> -->
                    <a href="categories/theater">演劇</a>
                    <ul>
                      <li><a href="projects/加藤-幹人">加藤幹人</a></li>
                      <li><a href="projects/我妻-直弥">我妻直弥</a></li>
                      <li><a href="projects/浅野井-瑞季">浅野井瑞季　杉田亮</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="column is-one-third" id="movie">
              <nav id="projects_nav" class="card-content has-text-centered top-pad border-color">
                <ul class="clearfix">
                  <li>
                    <!-- <img src="../../img/photo.jpg"  /> -->
                    <a href="categories/movie">映像</a>
                    <ul>
                      <li><a href="projects/hirotaka-the-human">Hirotaka the Human</a></li>
                      <li><a href="projects/サンドメノハル">サンドメノハル</a></li>
                      <li><a href="projects/中島-ゆい">中島 ゆい</a></li>
                      <li><a href="projects/中川-莉沙">中川 莉沙</a></li>
                      <li><a href="projects/加計-柊多">加計 柊多</a></li>
                      <li><a href="projects/水村-杏奈">水村 杏奈</a></li>
                      <li><a href="projects/篠田-衛">篠田 衛</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
  </div>
        <!-- End Projects container -->
