<hr>
<nav class="nav nav-center has-text-centered">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu ">
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="/">HOME</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="/#about">映身展とは</a>
      </span>
      {{ with .Section }}
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="/{{ . }}">{{ . }}へ戻る</a>
      </span>
      {{ end }}
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="/#contact">問い合わせ</a>
      </span>
    {{ if .Site.RSSLink }}
      <span class="nav-item">
        <a href="{{ .Site.RSSLink }}"><i style="color: #7a7a7a;" class="fa fa-rss"></i></a>
      </span>
    {{ end }}
    </div>
</nav>
<hr>
