{{ range sort .Pages }} {{ if eq .Section "projects" }} {{ if not .Params.external_link }}
<div class="container">
    <!-- Begin Projects container -->
    <h2 class="title is-4 has-text-centered">出展者一覧</h2>
    <div class="section is-small ">
        <h3 class="sub-title has-text-centered">展示フロア</h3>
        <div class="columns is-multiline">
            <div class="column is-one-third">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad" >
                  <a  href="categories/picture">写真</a>
                </div>
            </div>
            <div class="column is-one-third">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad" >
                  <a href="categories/artculutre">文芸</a>
                </div>
            </div>
            <div class="column is-one-third">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad" >
                  <a href="categories/installation">インスタレーション</a>
                </div>
            </div>
          </div>
      </div>

      <div class="section is-small ">
        <h3 class="sub-title has-text-centered">上演・上映フロア</h3>
          <div class="columns is-multiline">
            <div class="column is-one-third">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad" >
                  <a  href="categories/dance">ダンス</a>
                </div>
            </div>
            <div class="column is-one-third">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad" >
                  <a href="categories/theater">演劇</a>
                </div>
            </div>
            <div class="column is-one-third">
            <!-- Hey Vicky, show half column if number is even. -->
                <div class="card-content has-text-centered top-pad" >
                  <a href="categories/movie">映像</a>
                </div>
            </div>

          </div>
        </div>
  </div>
        <!-- End Projects container -->
{{ end }} {{ end }} {{ end }}
