<hr>
<nav class="nav nav-center has-text-centered">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu ">
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="/">HOME</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="projects/">出展者一覧</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="categories/picture">写真</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="categories/artculture">文芸</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="categories/installation">インスタレーション</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="categories/dance">ダンス</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="categories/theater">演劇</a>
      </span>
      <span class="nav-item">
        <a style="color: #7a7a7a;" href="categories/movie">映像</a>
      </span>
    </div>
</nav>
<hr>
