{{ partial "header.html" . }}
<body>
<div id="top"> <!-- Where all the awesome begins -->

<div class="hero is-{{ .Site.Params.introHeight | default "fullheight" }}">
<!-- Possible hero-head not used -->
    <!-- Super sweet Hero body title -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Title and tagline -->
            <img src="../img/logo.png" style="width: 30%;box-shadow:none;border:none;" class="top-logo" ></img >
            <!-- <h1 class="bold-title {{ if .Site.Params.fadeIn | default true }}fade-in one{{ end }}">
                {{ .Site.Params.firstName | default "Introduction" }}
            </h1> -->
            <h3 class="subtitle is-4 {{ if .Site.Params.fadeIn | default true }}fade-in two{{ end }}">
                {{ .Site.Params.tagLine }}
            </h3>
            <!-- End title and tagline -->
            <!-- Some social icons -->
            <div class=" {{ if .Site.Params.fadeIn | default true }}fade-in three{{ end }}">
                {{ partial "social.html" . }}
            </div>
            <!-- End top social icons -->
        </div>
    </div> <!-- Hero body title end -->
    <!-- Hero foot has nav bar -->
    <div class="hero-foot {{ if .Site.Params.fadeIn | default true }}fade-in three{{ end }}">
    <hr>
    <nav class="nav-center">
        <!-- <a class="nav-item" href="#about">映身展とは</a> -->
        <a class="nav-item" href="#infomation">映身展</a>
        <!-- {{ if .Site.Params.showProjects }}
        <a class="nav-item" href="#projects">ニュース・出展者情報</a>
        {{ end }} -->
        {{ if .Site.Params.showBlog }}
        <a class="nav-item" href="#blog">ニュース</a>
        {{ end }}
        {{ if .Site.Params.showNews }}
        <a class="nav-item" href="#projects">展示者情報</a>
        {{ end }}
        <a class="nav-item" href="#column">作品プロセス</a>

    </nav>
    <hr>
    </div><!-- Done with nav bar -->
</div><!-- Done with Hero -->

<!-- Everything below fades in three! -->
<div class="section no-padding {{ if .Site.Params.fadeIn | default true }}fade-in three{{ end }}">


  <!-- Tell them all about it! -->
  <div class="section" id="about">
      <div class="container">
      <h2 class="title is-4 has-text-centered">About</h2>

          <div class="columns"><!-- Avatar and about.md side by side except mobile -->
              {{ if .Site.Params.avatar }}
              <div class="column is-one-third has-text-centered">
                <img class="img-responsive avatar" src="/{{ .Site.Params.avatar }}" alt="映身展とは">
              </div>
              {{ end }}
              <div class="column markdown">
                  {{ range .Data.Pages }}
                      {{if eq .Title "About" }}
                              {{.Content}}
                          {{end}}
                      {{ end }}
              </div>
          </div>
      </div><!-- End About container-->

  <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
  </div><!-- End About section -->
<div class="container"><hr></div>
<!-- Tell them all about it! -->
<div class="section" id="infomation">
    <div class="container">
        <h2 class="title is-4 has-text-centered">Information</h2>
        <div class="column markdown">
            <div class="info-content">
                {{ range .Data.Pages }} {{if eq .Title "Infomation" }} {{.Content}} {{end}} {{ end }}
            </div>
            <div class="embed-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.279324976455!2d139.70407131439524!3d35.69474333683992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd94d99cab9%3A0xe58d9699e567a6f9!2z5paw5a6_55y856eR55S75buK!5e0!3m2!1sja!2sjp!4v1535185004935"
                    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- <div class="info-image">
            <img src="../img/map.png"  class="info-image" ></img >
          </div> -->
        </div>
    </div>
    <!-- End About container-->
<div class="container has-text-centered top-pad">
    <a href="#top">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
</div>
<!-- End About section -->



    <div class="container has-text-centered top-pad">
        <a href="#top">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
</div>
<!-- End About section -->

<div class="container"><hr></div>

<!-- Let's show some blog posts -->
    {{ if .Site.Params.showBlog }}
    <div class="section" id="blog">
        {{ partial "blogsection.html" . }}
    </div><!-- End Blog section -->

    <div class="container"><hr></div>
    {{ end }}


<!-- Now for some cool projects -->
    <div class="section" id="projects">
        {{ partial "huga.html" . }}
    </div><!-- End Projects section -->
    <div class="container"><hr></div>

  <!-- Now for some cool projects -->
      {{ if .Site.Params.showNews }}
      <div class="section" id="column">
          {{ partial "newssection.html" . }}
      </div><!-- End Projects section -->

      <div class="container"><hr></div>
      {{ end }}


    <div class="section" id="column">
        {{ partial "specialsection.html" . }}
    </div><!-- End Projects section -->



<!-- Let's chat, shall we? -->
<!-- <div class="section" id="contact">
    <div class="container has-text-centered">
    <h2 class="title is-4">お問い合わせ</h2>
        <div class="markdown">
            {{ range .Data.Pages }}
                {{if eq .Title "Contact" }}
                        {{.Content}}
                    {{end}}
                {{ end }}
        </div>

        {{ if .Site.Params.localTime }}
        <p>My current local time is <span id="time"></span>.</p>
        <script type="text/javascript" src="/js/moment.js"></script>
        <script type="text/javascript" src="/js/moment-timezone.js"></script>
        <script type="text/javascript" src="/js/moment-timezone-with-data-2012-2022.js"></script>

        <script>
        $(document).ready(function() {
  var time = moment()
    .tz("{{ .Site.Params.timeZone }}")
    .format("h:mm A");
  $("#time").html(time);
});
</script>
        {{ end }}

        {{ if .Site.Params.email }}
        <h3 class="subtitle has-text-centered top-pad"><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></h3>
        {{ end }}

        {{ partial "social.html" . }}
    </div>

	<div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
</div> -->
<!-- End Contact section -->

<!-- <div class="container"><hr></div> -->


<!-- Nice clean finish -->
{{ partial "footer.html" . }}
<!-- Footer done! -->
</div><!-- End of fade in three section -->
<!-- Where all the awesome ends. Aww. -->

<!-- Bitty scrolling links script -->
<script>
$('a[href^="#"]').click(function(e) {
  e.preventDefault();
  var target = this.hash;
  $("html, body").animate(
    {
      scrollTop: $(target).offset().top
    },
    500
  );
  return false;
});
</script>
<script>
if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", user => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}
</script>
</body>
